body {
    color:black;
    font-family:'Lucida Sans';
    background-color:lavender;
}
nav{
    background-color:orange;
}
#footer{
    background-color:orange;
}

#AppLogo2{
    float:right;
}
#AppLogo1{
    float:left;
}
aboutus_body{
    
}

p{
    width:450px;
}